<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<h1>Code Review Blog</h1>
<h3>어서오세요. 여기는 컴퓨터 세상으로 여행을 떠나고 싶은 사람들이 컴퓨터의
    언어를 배움으로써 컴퓨터와 다양한 커뮤니케이션을 할 수 있게 되는 곳 입니다.</h3>
<input type="text" name="id" placeholder="ID : 아이디를 입력해주세요">
<input type="password" name="password" placeholder="PW : 비번을 입력해주세요">
<a href="/main">로그인</a>
<a href="sign">회원가입</a>
</body>
</html>