<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .imgbox{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 80%;
            height: auto;
        }
        img{
            width: 17%;
            height: 40%;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid #a57d5e;
        }

    </style>
</head>
<body>
 <div class="imgbox">
     <a href="/blog"><img th:src="@{img/branch.png}" alt="" ></a>
     <img src="" alt="" href="/blog/2">
     <img src="" alt="" href="/blog/3">
     <img src="" alt="" href="/blog/4">
     <img src="" alt="" href="/blog/5">
     <img src="" alt="" href="/blog/6">
     <img src="" alt="" href="/blog/7">
     <img src="" alt="" href="/blog/8">


 </div>
</body>
</html>